src/wsdl.xml

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
    xmlns:wsp="http://www.w3.org/ns/ws-policy" 
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
    xmlns:tns="http://server.soap.com/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.soap.com/" name="blogService">
    <types>
        <xsd:schema targetNamespace="http://server.soap.com/" 
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:complexType name="articleType">
                <xsd:all>
                    <xsd:element name="id" type="xsd:int" />
                    <xsd:element name="title" type="xsd:string" />
                    <xsd:element name="content" type="xsd:string" />
                    <xsd:element name="category" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="articlesType">
                <xsd:complexContent>
                <xsd:restriction base="soapenc:Array">
                    <attribute ref="soapenc:arrayType" wsdl:arrayType="tns:articleType[]" />
                </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="userType">
                <xsd:all>
                    <xsd:element name="id" type="xsd:int" />
                    <xsd:element name="email" type="xsd:string" />
                    <xsd:element name="role" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <message name="getArticles">
        <part name="offset" type="xsd:int"/>
        <part name="limit" type="xsd:int"/>
    </message>
    <message name="getArticlesResponse">
        <part name="articles" type="tns:articlesType"/>
    </message>

    <message name="createUserRequest">
        <part name="email" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
        <part name="role" type="xsd:string"/>
    </message>
    <message name="createUserResponse">
        <part name="user" type="tns:userType"/>
    </message>

    <message name="loginRequest">
        <part name="email" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
    </message>
    <message name="loginResponse">
        <part name="token" type="xsd:string"/>
    </message>

    <portType name="articles">
        <operation name="getArticles">
            <input wsam:Action="getArticles" message="tns:getArticles"/>
            <output wsam:Action="http://server.soap.com/blog/getArticlesResponse" message="tns:getArticlesResponse"/>
        </operation>
        <operation name="createUser">
            <input wsam:Action="createUserRequest" message="tns:createUserRequest"/>
            <output wsam:Action="http://server.soap.com/blog/createUserResponse" message="tns:createUserResponse"/>
        </operation>
        <operation name="login">
            <input wsam:Action="loginRequest" message="tns:loginRequest"/>
            <output wsam:Action="http://server.soap.com/blog/createUserResponse" message="tns:loginResponse"/>
        </operation>
    </portType>
    <binding name="blogPortBinding" type="tns:articles">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="getArticles">
            <soap:operation soapAction="getArticles"/>
            <input name="getArticles">
                <soap:body use="literal"/>
            </input>
            <output name="getArticlesResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createUser">
            <soap:operation soapAction="createUser"/>
            <input name="createUserRequest">
                <soap:body use="literal"/>
            </input>
            <output name="createUserResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="login">
            <soap:operation soapAction="login"/>
            <input name="loginRequest">
                <soap:body use="literal"/>
            </input>
            <output name="loginResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="blogService">
        <port name="blogPort" binding="tns:blogPortBinding">
            <soap:address location="http://localhost:8086/blog"/>
        </port>
    </service>
</definitions>